/* common section starts */
* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}
main section {
    margin-top: 130px;
}
.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.button {
    padding: 20px 45px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

/* welcome section starts */
.welcomeMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 30px 30px 0px 30px;    
}
.welcomeMain .welcomeTitle {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}
.welcomeLeft{
    padding: 0px 80px 0px;
}
.welcomeTitle{
    padding-bottom: 15px;
}
.welcomeMain .description{
    padding-bottom: 15px;
}
.welcomeMain .welcomeImage{
    width: 480px;
    padding-right: 20px;
}

/* featured section starts */
.featuredFlowersTop {
    text-align: center;
    padding-top: 30px;
}
.featuredFlowersTop .description{
    padding-bottom: 30px;
}
.flowersContainer {
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: center;    
}
.blockBG1 {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 100px 75px 0px 75px;
}
.blockBG2 {
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 120px 50px 50px 50px;
}
.blockBG3 {
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 70px 75px 0px 75px;
}
.blockTitle {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* offer section starts */
.offerMain {
    display: flex;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    justify-content: center;
    align-items: center;
}
.offerMain .title{
    padding-bottom: 20px;
}
.offerMain .description{
    padding-bottom: 20px;
}
.offerLeft {
    text-align: center;
}

/* social section starts */
.socialTop {
    text-align: center;
}
.socialTop .title{
    padding-bottom: 20px;
}
.socialTop .description{
    padding-bottom: 20px;
}
.socialMain {
    display: flex;
    gap: 25px;
    justify-content: center;
}
.offerColor {
    color: #E55473;
}

/* reviews section starts */
.reviewMain {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(229, 84, 115, 0.10);
}
.reviewMain .reviewTop{
    padding: 20px;
    font-size: 30px;
}
.reviewTop{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.review {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.review p {
    font-size: 18px;
}
.review .author {
    font-weight: bold;
    margin-top: 10px;
}
.review .date {
    color: #888;
    font-size: 12px;
    margin-top: 5px;
}

/* deals section starts */
.dealsMain {
    text-align: center;
    background-image: url(./asset/rectangle\ 9.png);
    min-height: 449px;
    background-position: center;
    background-repeat: no-repeat;    
}
.dealsTop{
    padding: 120px 0px 0px;
}
.dealsTop .title{
    padding-bottom: 10px;
}
.dealsTop .description{
    padding-bottom: 20px;
}
#email{
    padding: 25px 250px;
    border: none;
    border-radius: 8px;
}

/* footer section starts */
.endMain {
    text-align: center;
    margin-top: 130px;
    background-color: #111010;
    color: #FFFFFF;
    padding: 100px 200px;
}
.endTop {
    font-size: 48px;
    font-weight: 800;
}
.endDescription {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.90);
    padding-top: 20px;
}
.copyright {
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}